<h2>About us</h2>
<p>
  The time is now: <%= Time.now %>
</p>
รายชื่อสมาชิกในกลุ่ม<br>
1.นายธรรศฐณัฏฐ์ ศรีหาผล5710613240<br>
2.นายภาณุ เกตุหิรัญ  5710613190<br>
3.นายภัทรเดช สวรรคเชิดวิลัย 5710613307<br>
4.นายพีรัชชัย แก่งนอก 5710613372<br>
5.นายอภิสิทธิ์  เลิศพงศ์วิภูษณะ 5710680322<br>

MING

<%=image_tag("1.jpg", alt: "Example Image")%><br>
<a href ="products">Home page :</a><br>
<a href ="/products/index">Home page2ja :</a><br>

<a href ="https://www.youtube.com/watch?v=3XsWK87Y498&feature=youtu.be">Youtube :</a><br>
<a href ="https://bitbucket.org/5710613190/bakeryproject">ฺBitbucket:</a><br>
<a href ="https://www.pivotaltracker.com/n/projects/1912115">Pivotaltrackert:</a><br>


